@import url("https://fonts.googleapis.com/css?family=Raleway");
*{
  font-family: "Raleway", "san-serif";
}
#ListaCoders{
  width: 90%;
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.ContenedorFoto{
  display: inline-block;
}
.fotografia{
  border-radius: 5px;
  width: 250px;
  height: 250px;
  margin: 5px;
}
.overlay{
  margin: 5px;
  display: block;
  background-color: rgba(232, 187, 54, 0.9);
  width: 250px;
  height: 250px;
  position: absolute;
  overflow: hidden;
  z-index: 20;
  opacity: 0;
  border-radius: 5px;
  transition: all 0.3s;
}
.nombre{
  height: 150px;
  font-weight: bold;
  z-index: 30;
  cursor: pointer;
  font-size: 22px;
  padding-top:  100px;
  opacity: 0;
  display: inline-block;
  position: relative;
}
.fotografia:hover{
  transform: scale(1.01);
    /*transition: all .9s ease;*/
  cursor: pointer;
}
.nombre:hover{
  opacity: 1;
  color: #fff;
}
.overlay:hover{
  opacity: 0.99;
  cursor: pointer;
  background-color: rgba(232, 187, 54, 0.65);
  transition: all 0.3s;
}
